{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'semanas/home.css' %}">
{% endblock %}



{% block sidebar %}


<aside class="sidebar-card">
    <nav class="profile-nav">
        <h3>Welcome to my world.</h3>
        <ul>
            <li><a href="/semanas">Metas</a></li>
            <li><a href="/semanas/create/">Create a meta</a></li>
            
        </ul>
    </nav>
</aside>

{% endblock %}

 



{% block content %} 


{% if todas_metas %}

<div class="metas-grid-container">
    {% for dado in todas_metas %}
        <div class="meta-card">
            <h3>{{ dado.nome }}</h3>
            <p>Frequência Semanal: {{ dado.vezes_na_semana }} vezes</p>
            
            <div class="circular-progress-container">
                <div class="progress-circle" style="--p: {{ dado.progresso }};">
                    <span class="progress-value">{{ dado.progresso }}%</span>
                </div>
            </div>

            <div class="dias-container" style="display: flex; gap: 5px;">
                
                {% for dia in dado.lista_dias %}

                    <div class="checkbox">
                        <form method="POST" action="{% url 'toggle' dado.id %}">
                            {% csrf_token %}
                            
                            <label>
                                <input type="checkbox"
                                       onChange="this.form.submit()"
                                       {% if dia.feito %} checked {% endif %}>
                                
                                {{ dia.sigla }}
                            </label>

                        </form>
                    </div>

                {% endfor %}
            </div>

        </div>
    {% endfor %}
</div>

{% else %}

        <div class="no-projects-message">
            <p class="no-projects-text">Nenhuma meta disponível no momento.</p>
        </div>

{% endif %}



{% endblock %}
