{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
{% endblock extra_css %}



{% block sidebar %}


<aside class="sidebar-card">
    <nav class="profile-nav">
        <h3>Welcome to my world.</h3>
        <ul>
            <li><a href="/perfil/">Pessoal</a></li>
            <li><a href={% url "create_meta" %}>Criar meta</a></li>
            
        </ul>
    </nav>
</aside>



{% endblock %}






{% block content %}
<section class="hero-section">
    <div class="hero-text">
        <h2 class="welcome-title">Olá, eu sou Rodrigo de Sousa Barbosa!</h2>
        <p class="tagline">
            Acadêmico de <strong>Engenharia da Computação</strong> (5º semestre) e desenvolvedor focado em <strong>Back-end Python</strong>.
        </p>
        <p class="summary-text">
            Meu foco está em construir <strong>aplicações web monolíticas</strong> e <strong>APIs REST</strong>, utilizando o stack Python: <strong>Django</strong> (principal foco), <strong>Flask/FastAPI</strong>,e <strong>PostgreSQL</strong>. Busco transformar conhecimento teórico em projetos práticos.
        </p>
        <a href="/projects" class="button primary-button">
            Veja Meus Projetos <i class="fas fa-arrow-right"></i>
        </a>
    </div>
    </section>

<section class="skill-summary-section">
    <h3>🛠️ Minhas Habilidades Chave</h3>
    <div class="skills-grid">
        <div class="skill-card">
            <h4>Linguagens e Frameworks</h4>
            <p>
                <strong>Python (POO)</strong>, <strong>Django</strong> (Foco principal), <strong>Flask</strong>, <strong>APIS REST</strong>, HTML/CSS básico.
        </div>
    
        <div class="skill-card">
            <h4>Processo e Qualidade</h4>
            <p>
                <strong>Git</strong> e Versionamento de Código, Metodologias Ágeis (Scrum, Kanban).
            </p>
        </div>
    </div>
</section>

{% endblock %}