{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head %} Portifolio {% endblock %}</title> 
    
    <link rel="stylesheet" href="{% static 'draws/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    {% block extra_css %}{% endblock extra_css %}
</head>

<body class="body-container">

    <header class="header-container">
    <div class="header-content">


We have a long way to go here.

    </div>

</body>

</html>