{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Perfil/home.css' %}">
{% endblock extra_css %}









{% block sidebar %}


<aside class="sidebar-card">
    <nav class="profile-nav">
        <h3>Opções de Perfil</h3>
        <ul>
            <li><a href="/songs">Favorite songs</a></li>    
            <li><a href="/videos">Favorite videos</a></li>
        </ul>
    </nav>
</aside>



{% endblock %}

{% block content %}

 Bem vindo


{% endblock %}
