{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'songs/home.css' %}">
{% endblock extra_css %}


    
{% block content %}

<div class="songs-container">


<div class="video-item">
    <h3>Melhor canal que conheci nos ultimos anos</h3>
<iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0dkUOGSwGAuqNyfbzuvkgj?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>  
  <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5JHtJP9bQV5I6ZucaiFogE?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5JHtJP9bQV5I6ZucaiFogE?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


</div>

    
{% endblock %}





{% block sidebar %}


<aside class="sidebar-card">
    <nav class="profile-nav">
        <h3>Opções de Perfil</h3>
        <ul>
            <li><a href="/songs">Favorite songs</a></li>    
            <li><a href="/videos">Favorite videos</a></li>
        </ul>
    </nav>
</aside>





{% endblock %}