{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head %} Portifolio {% endblock %}</title> 
    
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    {% block extra_css %}{% endblock extra_css %}
</head>

<body class="body-container">

    <header class="header-container">
    <div class="header-content">


        <div class="nav-links">
                    <h1 class="logo"> # By Drigo # </h1>

            <a href="{% url 'home' %}" class="nav-item">Home</a>
            <a href="/projects" class="nav-item">Projects</a>
            <a href="/about" class="nav-item">Sobre</a>
        </div>

        <div class="auth-controls">
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="button logout-button">
                    Logout
                </button>
            </form>
            {% else %}
            <a href="/login" class="button login-button">
                Login
            </a>
            {% endif %}
        </div>

    </div>
</header>



            


    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>
    
    <footer class="footer-container">
        <div class="footer-content">
            <p class="footer-text">&copy; 2025 Rodrigo Sousa. Todos os direitos reservados.</p>
            
            <div name="footer-content" class="social-links"> 
                <a href="https://www.linkedin.com/in/rodrigo-sousa-barbosa-4702872b8/" target="_blank" 
                   class="social-item">
                    <i class="fab fa-linkedin"></i> Linkedin
                </a>
                <a href="https://github.com/rodrigosousa64?tab=repositories" target="_blank" 
                   class="social-item">
                    <i class="fab fa-github"></i> Github
                </a>
            </div>
        </div>
    </footer>
    
    </body>
</html>