.videos-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.songs-item {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px  ;
    background-color: rgb(0, 0, 0);
    text-align: center;
}










.sidebar-card {
    grid-area: sidebar;

    /* Configuração do "Card" */
    padding: 20px;
    background-color: #ffffff;
    /* Fundo branco para o card */
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.05);
    /* Sombra suave na lateral */
    border-right: 1px solid #e0e0e0;
    /* Linha de separação */
}

.profile-nav h3 {
    font-size: 1.1em;
    color: #333;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f0f0f0;
}

.profile-nav ul {
    list-style: none;
    /* Remove os pontos da lista */
    padding: 0;
    margin: 0;
}

.profile-nav li {
    margin-bottom: 5px;
}

.profile-nav a {
    text-decoration: none;
    color: #555;
    /* Cor padrão do texto */
    display: block;
    /* Ocupa a largura total do LI */
    padding: 8px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.profile-nav a:hover {
    background-color: #f0f8ff;
    /* Fundo suave ao passar o mouse */
    color: #007bff;
    /* Cor do texto azul */
}

/* Opcional: Estilo para o link ativo (Você precisaria adicionar uma classe 'active' com Django) */
.profile-nav a.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}
